* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px dotted red !important; */
}

/* /////////////////////////////// ///// //////////////////////////////////// */

html {
    
    --yellow1:hsl(60, 100%, 86%);
    --yellow2: hsl(60, 100%, 72%);
    --aqua1: hsl(180, 100%, 82%);


    font-size: 16px;
    text-align: center;
    vertical-align: middle;
    background-color: var(--yellow1);
}

body {
    height: 100vh;
    position: relative;
}

nav {
    background-color: black;
    color: white;
    width: 100%;
    height: 6vh;

    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;

    box-shadow: 0 0 2px 2px black;
    text-shadow: hsl(40, 100%, 50%) 0 0 3px;
}



button {
    border: none;
    cursor: pointer;
}

/* /////////////////////////////// MAIN //////////////////////////////////// */
main {
    /* height: 94%; */
    width: 84%;
    max-width: 720px;
    margin: 0.5rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 0.5rem;
    padding-top: 2vh;
}


main>* {
    border-radius: 1.5rem;
}

main>div {
    width: 100%;
    background-color: var(--yellow2);
    padding: 0.5rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main #lvl {
    font-family: "Courier New", Courier, monospace;
    color: darkorange;
    font-size: 1.75rem;
}


main .quesDiv {
    flex-direction: row;
    justify-content: center;
}

#sign {
    margin: 0 1.25rem;
}

#num1,
#num2 {
    font-weight: 400;
}

main #time {
    color: hsl(100, 40%, 40%);
}

main #highest {
    font-weight: 400;
}


/* /////////////////////////////// INPUT //////////////////////////////////// */

.inpDiv #inp {
    font-size: 1.75rem;
    width: 50%;
    border-radius: 1rem;
    border: none;
    text-align: center;
    background-color: white;
    color: blue;
    font-family: cursive;
}

#inp:focus {
    background-color: var(--aqua1);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


/* ///////////////////////////// TRIPBAR //////////////////////////////////// */
nav #tripBar {
    height: 4.5vh;
    width: 5.5vh;
    background-color: black;
    /* border: white solid 1px; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;

    position: absolute;
    right: 3vw;
}

 .bar {
    background-color: purple;
    height: 15%;
    width: 80%;
}

/* ///////////////////////////// SETTINGS /////////////////////////////////// */
#settsCont {
    position: absolute;
    width: 88%;
    height: 88%;
    top: 8%;
    left: 6%; 

    background-color: var(--yellow2);
    color: black;
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    box-shadow: hsl(0, 0%, 0%) 0 0 4px 2px;
}

#settsCont>h1 {
    margin: 1rem 0;
    letter-spacing: 0.1rem;
    font-size: 2rem;
}

#settsCont>div {
    margin: 0.5rem 0;
}
#settsCont input[type=range] {
    width: 64%;
}




/* ///////////////////////////// MEDIA ////////////////////////////////////// */


@media (width >=360px) {
    html {
        font-size: 18px;
    }
}

@media (width >=720px) {
    html {
        font-size: 20px;
    }
}

@media (width >=1024px) {
    html {
        font-size: 22px;
        background-color: #1f1f1f;
    }
    body {
        width: 1024px;
        margin:auto;
        background-color: var(--yellow1);
        border-left: #222222 4px solid;
        border-right: #222222 4px solid;
    }
}

@media (width >=1440px) {
    html {
        font-size: 24px;
    }
}

@media (width >=1600px) {
    html {
        font-size: 26px;
    }
}

.hide {
    display: none;
}

